<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'logo/logo.png' %}">
    <title>home | ทวิตเต๋อ</title>
</head>

<body style="background-color: #ebebeb;">

    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>

    <div class="setting_button">
        <a href="" class="setting">
          <ion-icon name="settings-outline"></ion-icon>
          <span>ตั้งค่า</span>
        </a>
      </div>
      


    <div class="box">


        <div align="center">
            <form class="search">
                <button id="search_button" class="rounded-button" type="button">
                    <ion-icon name="search-outline"></ion-icon>
                </button>
                <input type="search" placeholder="Search" class="search-input" />
            </form>
        </div>


        <div class="post">

            <div id="post-box" class="row">

                <div id="profile" class="col">
                    <table>
                        <tr>
                            <td class="profile"></td>
                        </tr>
                    </table>
                </div>

                <div id="post" class="col" align="start">
                    <form class="form">
                        <table class="detail_post">
                            <tr>
                                <td><b>Username</b></td>
                            </tr>
                            <tr>
                                <td><b>@name</b></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td>postpostpostpostpostpostpostpostpostpostpost</td>
                            </tr>
                        </table>
                        <table>
                            <td class="like">
                                <button id="like_button" class="rounded-button" type="button">
                                    <ion-icon name="heart-outline" size="small"></ion-icon>
                                </button>
                            </td>

                            <td class="num_like"><a>0</a></td>

                            <td class="comment">
                                <button id="comment_button" class="rounded-button" type="button">
                                    <ion-icon name="chatbubble-outline" size="small"></ion-icon>
                                </button></td>

                            <td class="num_comment"><a>0</a></td>

                        </table>
                    </form>
                </div>

            </div>

            <!--เส้นแบ่งระหว่างโพส-->
            <hr class="invis">

        </div>

        <div class="post">

            <div id="post-box" class="row">

                <div id="profile" class="col">
                    <table>
                        <tr>
                            <td class="profile"></td>
                        </tr>
                    </table>
                </div>

                <div id="post" class="col" align="start">
                    <form class="form">
                        <table class="detail_post">
                            <tr>
                                <td><b>Username</b></td>
                            </tr>
                            <tr>
                                <td><b>@name</b></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td>postpostpostpostpostpostpostpostpostpostpost</td>
                            </tr>
                        </table>
                        <table>
                            <td class="like">
                                <button id="like_button" class="rounded-button" type="button">
                                    <ion-icon name="heart-outline" size="small"></ion-icon>
                                </button>
                            </td>

                            <td class="num_like"><a>0</a></td>

                            <td class="comment"><button id="comment_button" class="rounded-button" type="button">
                                    <ion-icon name="chatbubble-outline" size="small"></ion-icon>
                                </button></td>

                            <td class="num_comment"><a>0</a></td>

                        </table>
                    </form>
                </div>

            </div>

            <!--เส้นแบ่งระหว่างโพส-->
            <hr class="invis">

        </div>

        <div class="post">

            <div id="post-box" class="row">

                <div id="profile" class="col">
                    <table>
                        <tr>
                            <td class="profile"></td>
                        </tr>
                    </table>
                </div>

                <div id="post" class="col" align="start">
                    <form class="form">
                        <table class="detail_post">
                            <tr>
                                <td><b>Username</b></td>
                            </tr>
                            <tr>
                                <td><b>@name</b></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td>postpostpostpostpostpostpostpostpostpostpost</td>
                            </tr>
                        </table>
                        <table>
                            <td class="like">
                                <button id="like_button" class="rounded-button" type="button">
                                    <ion-icon name="heart-outline" size="small"></ion-icon>
                                </button>
                            </td>

                            <td class="num_like"><a>0</a></td>

                            <td class="comment"><button id="comment_button" class="rounded-button" type="button">
                                    <ion-icon name="chatbubble-outline" size="small"></ion-icon>
                                </button></td>

                            <td class="num_comment"><a>0</a></td>

                        </table>
                    </form>
                </div>

            </div>

            <!--เส้นแบ่งระหว่างโพส-->
            <hr class="invis">

        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src=""></script>
</body>

</html>