<!----------------------------กล่องตรงกลาง รวมข้อมูลต่างๆ ช่อง search การโพส-------------------------->
<div class="box_middle" style="width: 59%; background: #f4f4f4;">

    <!------------ช่อง search---------->
    <div align="center">
        <form class="search">
            <button id="search_button" class="rounded-button" type="button">
                <ion-icon name="search-outline"></ion-icon>
            </button>
            <input type="search" placeholder="Search" class="search-input" />
        </form>
    </div>
